<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    
   <!--  <test thread-count="5" name="openingABURL">
    <classes>
     <class name="com.animalBiome.Automation.animalbiomeURL"/>
    </classes>
    </test>-->
    
   <!-- <test thread-count="5" name="signin">
    <classes>
     <class name="com.animalBiome.Automation.Signin_existinguser"/>
    </classes>
    </test>-->
    
    <test thread-count="5" name="signout">
    <classes>
    <class name="com.animalBiome.Automation.Signout_existinguser"/>
    </classes>
    </test> 
    
</suite> <!-- Suite -->
